@model IEnumerable<SpaceBlog.Models.Article>

@{
    ViewBag.Title = "Home Page";
}

@Html.Partial("_JumbotronPartial")

<div class="container body-content">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            @foreach (var item in Model)
            {
                <div class="post-preview">
                    <a href="/../Article/Details/@item.Id">
                        <h2 class="post-title">
                            @item.Title
                        </h2>
                        <h3 class="post-subtitle">
                            @item.Content
                        </h3>
                    </a>
                    <div class="pull-right">
                        @Html.ActionLink("Read more »", $"/../Article/Details/{item.Id}", null, new { @class = "btn btn-primary" })
                    </div>
                    <p class="post-meta">Posted by @(item.Author.FullName != null ? item.Author.FullName : "anonymous") on @item.Date.</p>
                </div>
                <hr>
            }
        </div>
</div>