@model  SpaceBlog.Models.UserViewModel
@using SpaceBlog.Utilities;

@{
    ViewBag.Title = Model.FullName + "'s Profile";
}

<div class="container">
    <h2>@ViewBag.Title</h2>
    <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FullName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FullName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>
        </dl>
    <hr />
</div>
   
<div class="container">
    <h3>Article Created</h3>
    <table id="articleTable" class="table table-striped table-bordered table-responsive">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Content
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var article in Model.Articles)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelitem => article.Title)
                    </td>

                    <td>
                        @Html.Raw(Utils.CutHtmlText(Utils.CutImageTag(HttpUtility.HtmlDecode(article.Content)), 50))
                    </td>

                     <td>
                        <div class="dropdown">

                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                               More
                                <span class="caret"></span>
                            </button>

                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Edit", "../Article/Edit", new { id = article.Id })</li>
                                <li>@Html.ActionLink("Details", "../Article/Details", new { id = article.Id })</li>
                                <li>@Html.ActionLink("Delete", "../Article/Delete", new { id = article.Id })</li>
                            </ul>

                        </div>                           
                    </td>
                </tr>
            }
        </tbody>

    </table>
    <hr />
    <br />
    <br />
</div> 

<div class="container">
    <h3>Comments Created</h3>
    <table id="comentTable" class="table table-striped table-bordered table-responsive">
        <thead>
            <tr>
                <th>
                    Comments
                </th>  
                
                <th>
                    Actions
                </th>                  
            </tr>
        </thead>

        <tbody>
            @foreach (var comment in Model.Comments)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelitem => comment.Content)
                    </td>

                    <td>
                        <div class="dropdown" >

                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                               More
                                <span class="caret"></span>
                            </button>

                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Edit", "/", new { id = comment.Id })</li>
                                <li>@Html.ActionLink("Delete", "/", new { id = comment.Id })</li>
                            </ul>

                        </div>                           
                    </td>
                </tr>
            }
       </tbody>
</table>
</div> 

@section Scripts {
    @Scripts.Render("~/bundles/datatables")
    <script>
        $(document).ready(function () {
            $('#articleTable').DataTable();
        });
    </script>

<script>
        $(document).ready(function () {
            $('#comentTable').DataTable();
        });
</script>
}