@model SpaceBlog.Models.Article

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <h1>@ViewBag.Title</h1>

    <!-- Page Header -->
    <header class="details-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h2>@Html.DisplayFor(model => model.Title)</h2>
                        <span class="meta">Posted by @Html.DisplayFor(model => model.Author.FullName)</span>
                        <span class="meta">On @Html.DisplayFor(model => model.Date)</span>
                    </div>
                    <hr />
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    @Html.Raw(Model.Content)
                </div>
            </div>
            <div class="row">
                
            </div>
        </div>
    </article>

    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <br />
        @Html.ActionLink("Back", "Index", new { area = "" }, new { @class = "btn-sm btn-primary" })
        @Html.ActionLink("Add Comment", "Comment", new { id = Model.Id }, new { @class = "btn-sm btn-success"})

        @if (User.IsInRole("Administrators"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn-sm btn-primary" })
            @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn-sm btn-danger" })
        }
    </div>
</div>