@model SpaceBlog.Models.Article

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <h1>@ViewBag.Title</h1>

    <!-- Page Header -->
    <header class="details-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h2>@Html.DisplayFor(model => model.Title)</h2>
                        <span class="meta">Posted by @Html.DisplayFor(model => model.Author.FullName)</span>
                        <span class="meta">On @Html.DisplayFor(model => model.Date)</span>
                    </div>
                    <hr />
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <span class="meta-post-content">@Html.Raw(Model.Content)</span>
                </div>
            </div>
        </div>
    </article>

    <hr />

    <aside class="commentar">
        <h3>Comments</h3>

        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    @foreach (var comment in Model.Comments)
                    {
                        <div class="meta-posted">Posted by @comment.Author.FullName</div>
                        <div class="meta-posted">On @comment.Date</div>         
                        <div class="meta-commentC">
                            <blockquote class="blockquote">@comment.Content</blockquote>
                        </div>
                        <br />
                    }
                </div>
            </div>
        </div>
    </aside>

    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <br />
        @Html.ActionLink("Back", "Index", new { area = "" }, new { @class = "btn-sm btn-primary" })

        @if (User.IsInRole("Administrators") || User.IsInRole("Moderators") || User.Identity.Name == Model.Author.UserName)
        {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn-sm btn-primary" })
            @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn-sm btn-danger" })
        }
    </div>
</div>
 
@{
    var comments = (IEnumerable<SpaceBlog.Models.Comment>)ViewBag.Comments;
    var ratingSum = ViewBag.RatingSum;
    var ratingCount = ViewBag.RatingCount;

    decimal rating = 0;

    if (ratingCount > 0)
    {
        rating = (ratingSum / ratingCount);
    }

    var totalRating = decimal.Parse(rating.ToString());
}

<hr />
@Html.Partial("_CommentBox")

<script>
    function SCRate() {
        for (var i = 1; i <= @totalRating; i++) {
            $("#sRate" + i).attr('class', 'starGlowN');
        }
    }

    $(function() {
        SCRate();
    });
</script>